<div class="container-fluid p-0 second-page">
  <h1>SERVICES</h1>
  <div class="col-md-12">

    <div class="row">
      <div class="col-md-4">
        <div class="card">

          <h3>FEATURED</h3>
          <app-cards [Data]="Data"></app-cards></div>
      </div>

      <div class="col-md-4">
       <div class="card">
         <h2>Engine System Service</h2>
         <h1>$15 Off</h1>
         <div class="list">
         <p> Engine oil</p>
         <p>  Oil filter </p>
           <p>  Air filter</p></div>
       </div>
      </div>


      <div class="col-md-4">
        <div class="card">
          <h2>Brake System Service</h2>
          <h1>$15 Off</h1>
          <div class="list">
            <p> Break oil</p>
            <p> condition of the tires</p>
            <p> Brake Pads</p></div>
        </div>
      </div>
      </div>


  </div>





</div>

