<div class="container-fluid p-0">
  <div class="header-div">
    <!--<div class="contact-div">-->

      <!--&lt;!&ndash;<img src="../../../src/assets/baseline_call_black_18dp.png"><p>08900-0987600</p>&ndash;&gt;-->
    <!--</div>-->
    <!--<div class="icons-div">-->
      <!--&lt;!&ndash;<img src="../../../src/assets/baseline_call_black_18dp.png">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="../../../src/assets/baseline_notifications_black_18dp.png">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="../../../src/assets/baseline_business_black_18dp.png">&ndash;&gt;-->
      <!--&lt;!&ndash;<img src="../../../src/assets/baseline_add_location_black_18dp.png">&ndash;&gt;-->
    <!--</div>-->


  </div>

</div>
